@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




body{

    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #4b43436d;
    width: 100vw;
    height: 70px;
    position: fixed;
     
}

 .nav-list{
     width: 1118px;
     height:45px;
 }
 .nav-list li{
     font-size: 25px;;
 }

  #navbar a:hover{

    color: #21325E;
    font-weight: bolder;
 }



  #navbar  ul{

    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding-top: 25px;
    margin-left: 200px;
    
   
     }

#navbar ul li a{
    text-decoration: none;
    margin-right: 50px;
    color: azure;
 
    
}

#welcome-section{
 padding-top: 120px;
 padding-left: 126px;
    width: 100vw;
    height: 100vh;
 background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');

 background-repeat: no-repeat;
 background-size: cover;
 background-position: right;
 overflow: hidden;
}
  
  

pre{
    font-size: 70px;
    color: azure;
}


#projects{

    display: flex;
    flex-direction: column;
    background-color: #4b43436d;
    width: 100vw;
}

  #Work{
    display: flex;
    flex-direction: row;
     justify-content: space-evenly;
     margin-bottom: 50px;
}

/* #Work #item img{

    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    width: 398px;
    
} */

#Work .project-1 img{

     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 398px;
}
#Work .project-6 img{

    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 398px;
}


#Work .project-2 img{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 398px;
    height: 273px;
}


#Work .project-3 img{

    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 398px;
    height: 273px;
}
#Work .project-4 img{

    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 398px;
    height: 273px;
}
#Work .project-5 img{

    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 398px;
    height: 273px;
}

#Work #item h2{
    text-align: center;
    color: azure;
    padding: 10px 0;
}

























.project-title{

    text-align: center;
    padding: 60px 0px;
}

.project-tile  #item{

  width:400px;
  height:330px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #21325E;

}

.project-container{

    display: flex;
    flex-direction: column;
}

#profile{

    width: 100vw;
    height: 300px;
    background-color: #21325E;
    color: azure;
    
}

#profile h1{
    text-align: center;
    padding: 60px 0px;
    font-size: 50px;
}

.project-title h1{

    color: #21325E;
    font-weight: bolder;
}

.profiles{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.profiles h3{
     font-size: 30px;
}

i{
    margin-right: 10px;
    font-size: 30px;
}

.profiles a{

    text-decoration: none;
    color: azure;
}

footer{
    text-align: center;
    background-color: #21325E;
    color:azure;
    
}
 
footer h3{

    padding-bottom: 30px;
    padding-top: 20px;
}
 

 
